 {% extends 'base.html' %}
 {% block title %}Category{% endblock title %}
 {% block content %}
 {% include "nav.html" %}
 {% include "flash.html" %}

<!-- Page Content -->
<div class="container-fluid">
  <section id="showcategories" class="section">
    <div class="container" >
      <div class="row">
        <div class="col-md-4">
          <p class="h2"> Categories 
          </p>
          <ul class="list-group">

          {% for i in categories %}

            <li class="list-group-product">
              <p class="h3">
                <a href="{{url_for('showcategories', category_id = i.id,) }}" >{{ i.name }}</a>
                {% if 'name' in session %}
                <a href = "{{url_for('deleteCategory', category_id = i.id)}}">
                <i class="fa fa-trash" style="font-size:30px;color:red">
                <span class="btn btn-primary pull-right" title="Delete Category">Delete</span></i></a>

                <a href = "{{url_for('editCategory', category_id = i.id)}}">
                <i class="fa fa-edit" style="font-size:30px;color:green">
                <span class="btn btn-primary pull-right" title="Edit Category">Edit</span></i></a>
                {% endif %}
                </p>
              </li>
              {% endfor %}
          </ul>
        </div>

      <!--Projectors Items--->
      <div class="col-md-8">
          <p class="h2">PRODUCTS</p>
          {% for i in items %}                  
                <div class="col-sm-6">
                 <div class="panel panel-primary">
                  <div class="panel-heading">
                    <a href="{{url_for('Product_details',product_id=i.id)}}"><h3 class="text-white">{{ i.brandname }}</h3></a>
                  </div>
                   <div class="panel-body">
                   <img class="img-fluid img-responsive" src="{{ i.picture }}" alt="Card image"  style="height: 200px;width: 100%;">                   
                  <button type="button" class="btn btn-info" data-toggle="collapse" title="Click More Details" data-target="#demo{{ i.id }}">Details</button>
                  {% if 'name' in session %}
                    <a href = "{{url_for('deleteProduct', category_id = i.category.id, product_id = i.id)}}">
                     <i class="fa fa-trash" style="font-size:25px;color:red">
                     <span class="btn btn-primary pull-right" title="Delete product">Delete</span></i></a>

                    <a href = "{{url_for('editProduct', category_id = i.category.id, product_id = i.id)}}">
                    <i class="fa fa-edit" style="font-size:25px;color:green">
                    <span class="btn btn-primary pull-right" title="Edit Product">Edit</span></i></a>
                  {% endif %}


                  <div id="demo{{ i.id }}" class="collapse" style="position: absolute; z-index: 1;background: #A9DFBF;padding: 8px;box-shadow: 0px 0px 4px #FF334F;">
                    <p class="h4">Material : {{i.material}}</p>                   
                    <p class="h4">Color : {{i.color}}</p>
                    <p class="h4">Price : {{i.price}}</p>
                    <p class="h4">Description : {{ i.description }}</p>
                  </div>
                </div>
                 </div>        
                </div>
              {%else%}
              <h2>No products Found</h2>
            {%endfor%}

          </div>          
        </div>
  </div><!-- /.row -->
</div> <!-- /.container -->
</section>  <!-- /.section -->
</div> <!-- /.container-fluid --> 
{% endblock %}











 

 

